
#Aside

  %ul.menu
    -@jobs.each do |job|
      %li
        =link_to "/jobs/#{job.tag_path}" do
          %span= job.tag_text

  = raw module_to(@modules, 'left')

#MainCol
  .text.clearFix
    %h1= @current_jobs.first.tag_text
    -@current_jobs.each do |job|
      %dl.contentitem
        %dt
          =link_to job.name,"/jobs/#{job.tag_path}/#{job.id}"

  .clearFix
    = raw module_to(@modules, 'page_button_2')




-content_for :pathway do
  #showcase
    %span.breadcrumbs.pathway
      =link_to @home.contents.find_by(lang: locale).title, "/#{locale}", :class => "pathway"
      |
      =link_to "Вакансии", "/jobs/", :class => "pathway"
      |
      =@current_jobs.first.tag_text


-content_for :title do
  =@current_jobs.first.tag_text