#Aside

  %ul.menu
    -@jobs.each do |job|
      %li
        =link_to "/jobs/#{job.tag_path}" do
          %span= job.tag_text

  = raw module_to(@modules, 'left')

#MainCol
  .text.clearFix
    %h1= @current_job.name
    = raw @current_job.body
    = raw module_to(@modules, 'partners')



-content_for :pathway do
  #showcase
    %span.breadcrumbs.pathway
      =link_to @home.contents.find_by(lang: locale).title, "/#{locale}", :class => "pathway"
      |
      =link_to "Вакансии", "/jobs/", :class => "pathway"
      |
      =link_to @current_job.tag_text, "/jobs/#{@current_job.tag_path}", :class => "pathway"
      |
      =@current_job.name