
#Aside

  %ul.menu
    -@children.each do |child|
      -if content = child.contents.find_by(lang: locale)
        %li
          =link_to child.slug do
            %span= content.title

  = raw module_to(@modules, 'page_left')

#MainCol
  .text.clearFix
    = raw module_to(@modules, 'page_top')
    -#%h1= @content.title
    %p= raw @content.body
  = raw module_to(@modules, 'page_button_1')
  .MaincolModule.clearFix
    = raw module_to(@modules, 'page_button')


-content_for :pathway do
  -if @page.parent
    -@parent = @page.parent.contents.find_by(lang: locale)
  #showcase
    %span.breadcrumbs.pathway
      =link_to @home.contents.find_by(lang: locale).title, "/#{locale}", :class => "pathway"
      |
      -if @parent
        =link_to @parent.title, "/#{locale}/#{@page.parent.slug}", :class => "pathway"
        |
      =@content.title


