
.row
  .col-xs-12= raw module_to(@modules, 'top')

.row
  .col-xs-3= raw module_to(@modules, 'left')
  .col-xs-6
    %h1= @content.title
    %p= raw @content.body
    %p= @page.parent_path
  .col-xs-3= raw module_to(@modules, 'right')

%hr
.row
  .col-xs-12= raw module_to(@modules, 'partners')
