<!DOCTYPE html>
<html>
<head>
  <title>Escommerce</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%= render 'modules/header' %>
  <%= yield %>
  <%= raw module_to(@modules, 'footer') %>
</div>
<%= render 'modules/counters' %>
</body>
</html>
