<!DOCTYPE html>
<html>
<head>
  <meta name="keywords" content="HR Центр TSM" />
  <meta name="title" content="<%= yield :title %>" />
  <meta name="description" content="HR Центр TSM" />
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%- if @root %>
    <body id="Home">
<%- else %>
    <body>
<%- end %>

<div id="wrapper">
  <%= render 'modules/header' %>
  <%= yield %>
  <%= raw module_to(@modules, 'footer') %>
</div>
<%= render 'modules/counters' %>
</body>
</html>
